* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(0, 0, 0);
    padding: 3vh;
    margin-top: 8vh;
    height: 80vh; 
    width: 96%; 
    max-width: 400px; 
    overflow: hidden;  
    font-family: Arial, sans-serif;
    border-radius: 2vh;
    box-shadow: 0px -1px 106px -3px rgb(117, 91, 91);
    -webkit-box-shadow: 0px -1px 106px -3px rgb(255, 255, 255);
    -moz-box-shadow: 0px -1px 106px -3px rgb(255, 255, 255);   
}

#display {
    margin-top: 2.8vh;
    margin-bottom: 2vh;
    border: none;
    background-color: #000000;
    color: white;
    border: none solid;
    height: 14vh;
    width: 90%; 
    padding-right: -20vh;
    font-size: 8vh;
    text-align: right;
    justify-content: right;
    margin-left: 2vw;
    border-radius: 2vh;
    color: #2ee8b6;
    text-align: right;
    text-indent: 2vh;
    font-size: 8vh;
}

.clear_button {
    height: 10vh;
    width: 20vh;
    margin-left: 20vh;
}



button {
    color: #2ee8b6;
    height: 10vh;
    width: 100%; 
    border-radius: 2vh;
    border: none;
    font-weight: bold;
    font-size: 3.2vw;
    background-color: #232323;
}

#keys {
    margin-top: 1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.5vw;
    padding-top: 1vh;
    background-color: #000000;
    border-radius: 2vw;
    margin: 3vh;
}

.clear_button {
    height: 10vh;
    width: 20vh;
    margin-left: 20vh;
}

.delete_all_butt {
    background-color: #363636;
    color: #ff5555;
    position: relative;
    font-size: 4vh;
}

.special_func {
    font-size: 2.8vh;
    background-color: #ee7828;
    color: #ffffff;
}

.special_func:hover {
    background-color: #ffffff;
    color: #ee7828;
}

.good_bye {
    font-size: 2.8vh;
    background-color: #ee7828;
    color: #ffffff;
}

button:hover {
    background-color: rgb(196, 196, 196, 0.7);
    
}

.grey_butt {
    color: #2ee8b6;
    background-color: #363636;
}

.total {
    background-color: #86c232;
    color: white;
}




@media (max-width: 600px) {
    #display {
        font-size: 5vh; 
    }

    button {
        height: 8vh; 
        font-size: 4vw; 
    }

    #keys {
        margin-top: 10vh;
    }
}
